In [3]:
from nltk.corpus import stopwords
sentences=['sky is nice','clouds are nice','sky is nice and Clouds are nice']
cleaned_sentence=[]
for sentence in sentences:
    word=sentence.lower()
    ##Lowering the letters becoz we dont want to treat uppercase and lowercase words
    word=word.split() ##splitting our sentence into words

    ##removing the stop words
    word=[i for i in word if i not in set(stopwords.words('english'))]
    word=" ".join(word)   #joining our words back to sentences
    cleaned_sentence.append(word)   ##appending our preprocessed sentence into new list

In [4]:
cleaned_sentence

['sky nice', 'clouds nice', 'sky nice clouds nice']

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(max_features=3)  # consider max_features as 3 means dimension 
Bagofwords=cv.fit_transform(cleaned_sentence)

Bagofwords #convert to array()
Bagofwords=Bagofwords.toarray()
Bagofwords

array([[0, 1, 1],
       [1, 1, 0],
       [1, 2, 1]], dtype=int64)

In [13]:
import pandas as pd
pd.DataFrame(Bagofwords,columns=['cloud','nice','sky'])

   cloud  nice  sky
0      0     1    1
1      1     1    0
2      1     2    1

In [14]:
cv.vocabulary_

{'sky': 2, 'nice': 1, 'clouds': 0}

In [15]:
Bagofwords.view()

array([[0, 1, 1],
       [1, 1, 0],
       [1, 2, 1]], dtype=int64)

In [19]:
from nltk.corpus import stopwords
sentences=['Game of Thrones is an amazing tv series','Game of Thrones is the best tv series','Game of Thrones is so great']
cleaned=[]
for sentence in sentences:
    word=sentence.lower()
    ##Lowering the letters becoz we dont want to treat uppercase and lowercase words
    word=word.split() ##splitting our sentence into words

    ##removing the stop words
    word=[i for i in word if i not in set(stopwords.words('english'))]
    word=" ".join(word)   #joining our words back to sentences
    cleaned.append(word)   ##appending our preprocessed sentence into new list

In [20]:
cleaned

['game thrones amazing tv series',
 'game thrones best tv series',
 'game thrones great']

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer() 
Bagofwords=cv.fit_transform(cleaned).toarray()

print(Bagofwords)
print(cv.vocabulary_)

[[1 0 1 0 1 1 1]
 [0 1 1 0 1 1 1]
 [0 0 1 1 0 1 0]]
{'game': 2, 'thrones': 5, 'amazing': 0, 'tv': 6, 'series': 4, 'best': 1, 'great': 3}

In [28]:
pd.DataFrame(Bagofwords,columns=['game','thrones','amazing','tv','series','best','great'])

   game  thrones  amazing  tv  series  best  great
0     1        0        1   0       1     1      1
1     0        1        1   0       1     1      1
2     0        0        1   1       0     1      0